<% if PaymentMethod.find_by_type("PaymentMethod::Contrassegno") %>
  <p id="contrassegno-instructions">In case of “contrassegno” payment will be charged additional <%= number_to_currency PaymentMethod.find_by_type("PaymentMethod::Contrassegno").compute(@order) %></p> 
<% end %>