<% if PaymentMethod.find_by_type("PaymentMethod::Contrassegno") %>
  <p id="contrassegno-instructions">In caso di pagamento in contrassegno verranno addebitati ulteriori <%= number_to_currency PaymentMethod.find_by_type("PaymentMethod::Contrassegno").calculator.compute(@order) %></p> 
<% end %>