<% if Spree::PaymentMethod.where(:type => "Spree::PaymentMethod::Contrassegno").first %>
  <p id="contrassegno-instructions">In caso di pagamento in contrassegno verranno addebitati ulteriori <%= number_to_currency Spree::PaymentMethod.where(:type => "Spree::PaymentMethod::Contrassegno").first.compute(@order) %></p> 
<% end %>