<% if Spree::PaymentMethod.where(:type => "Spree::PaymentMethod::Contrassegno").first %>
  <p id="contrassegno-instructions">In case of “contrassegno” payment will be charged additional <%= Spree::Money.new Spree::PaymentMethod.where(:type => "Spree::PaymentMethod::Contrassegno").first.compute(@order) %></p> 
<% end %>